@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flatpickr/dist/flatpickr.min.css";

.sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */
  }
  